{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Wolf Killer - Host{% endblock %}

{% block page_content %}
<div id="host-control-panel" style="display:None">
<h1>控制选项</h1>
<button id="start-game" class="btn btn-default disabled">开始游戏</button>
<button id="close-room" class="btn btn-danger">关闭房间</button>
</div>

<div id="player-control-panel" style="display:None">
<h1>控制选项</h1>
<button id="quit-room" class="btn btn-danger">离开房间</button>
</div>

<div>
<h1>玩家列表</h1>
<ul id="players" class="circle"> </ul>
<p id="role-config"></p>
</div>

<div id="message">
<h1>消息</h1>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>

function getNext() {
    $.get("/api/get_message", function(d) {
        msg = d.messages
        var i
        for (i = 0; i < msg.length; i++) {
            console.log(i, msg[i])
            doType[msg[i].type](msg[i])
            if (msg[i].type != "down-water-button" &&
                msg[i].type != "wolf-chat-button" &&
                msg[i].type != "boom-button")
                clearButton = true
        }
        // scroll to bottom
        removeDoubleLine()
        if (msg.length != 0)
            $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        clearTimeout(offlineCheck)
        setTimeout(getNext, 1500);
    })
    var offlineCheck = setTimeout(function() {
        alert("掉线了，自动刷新")
        location.reload()
    }, 6000)
}

$(document).ready(function() {
    addBreakLine()
    ABSTAIN = "(!%##&##@"
    $.post("/api/enter_room", function(data, status) {
        setTimeout(getNext, 1500)
    })
})

var doType = {}

/* CONTROL PANEL */
doType["host-control-panel"] = function (d) {
    $("#host-control-panel").css("display", "")
    $("#close-room").click(function() {
        if (confirm("确定关闭房间吗？")) {
            $.post("/api/host/close_room", function(data, status) {
                setTimeout(function() { window.location="/" }, 500);
            })
        }
    })

    $("#start-game").click(function() {
        $.post("/api/host/start_game", function(data, status) {
            console.log("start game", d)
        })
    })
}

doType["player-control-panel"] = function(d) {
    $("#player-control-panel").css("display", "")
    $("#quit-room").click(function() {
        if (confirm("确定离开房间吗？")) {
            $.post("/api/quit_room", function(data, status) {
                console.log("quit room", data, status)
                setTimeout(function() { window.location="/" }, 500);
            })
        }
    })
}

doType["start-button"] = function(d) {
    $("#start-game").removeClass("btn-default disabled")
                    .addClass("btn-primary")
}

doType["ingame-button"] = function(d) {
    $("#start-game").text("游戏中").unbind("click")
                    //.removeClass("btn-primary")
                    //.addClass("btn-success")
}

doType["room-closed"] = function(d) {
    setTimeout(function() { window.location="/" }, 500);
}


/* PLAYRE INFO */
doType["player-info"] = function(d) {
    html = ""
    for (i = 0; i < d.players.length; i++)
        html += "<li>" + d.players[i] + "</li>"
    $("#players").html(html)
}

doType["role-config"] = function(d) {
    $("#role-config").html("配置： " + d.info)
}

/* PLAY PROCEDURE */
doType["role"] = function(d) {
    addMessage("你的角色是" + d.role)
    addBreakLine()
}

doType["role-table"] = function(d) {
    addTable("role", ["编号", "昵称", "角色"], [50, 150],
            [d.number, d.name, d.role], d.color)
    addBreakLine()
}

doType["close-eye-button"] = function(d) {
    btn = addButton("close-eye", "天黑 请闭眼", "btn-warning")
    btn.click(function() {
        $.post("/api/send_message", {type:"close-eye"}, function(data, status){
            console.log("post cloes-eye", data, status)
            btn.remove()
        })
    })
    addBreakLine()
}

doType["night-come"] = function(d) {
    addMessage("天黑，请闭眼...")
    addBreakLine()
}

doType["guard-button"] = function(d) {
    chooseName = addChoose("choose-guard", "选择要守护的人", d.players)

    btn = addButton("guard", "守护", "btn-warning")
    btn.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type: "choose-guard", name: sel}, 
           function(data, status){
               console.log("post choose guard", data, status)
               btn.remove()
        })
    })
    addBreakLine()
}

doType["pro-button"] = function(d) {
    chooseName = addChoose("choose-guard", "选择要验的人", d.players)

    btn = addButton("guard", "查看身份", "btn-warning")
    btn.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type: "choose-pro", name: sel}, 
           function(data, status){
               console.log("post choose guard", data, status)
               btn.remove()
        })
    })
}

doType["pro-info"] = function(d) {
    addMessage(d.name + "是" + d.role)
    addBreakLine()
}

doType["kill-button"] = function(d) {
    chatId = addChatBoard("kill")
    chooseName = addChoose("choose-kill", "选择要杀的人", d.players)
    kill = addButton("kill", "刀TA", "btn-warning")
    chatBtn = addButton("send-chat", "聊天", "btn-primary")
    pass = addButton("pass", "弃权", "btn-default")
    kill.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type: "choose-kill", action: "vote",
            name: sel}, function(data, status) {
                console.log("post choose kill", data, status)
                kill.remove(); pass.remove(); chatBtn.remove()
        })
    })
    pass.click(function() {
        $.post("/api/send_message", {type: "choose-kill", action: "vote",
            name: ABSTAIN}, function(data, status) {
                console.log("post choose kill pass", data, status)
                kill.remove(); pass.remove(); chatBtn.remove()
        })
    })
    chatBtn.click(function() {
        chatBtn.text("发送中")
        msg = $("#" + chatId).val()
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (msg == "") {
            if (sel == null) return
            else msg = "我想选 " + sel
        }
        $.post("/api/send_message", {type: "choose-kill", action: "chat",
            msg: msg}, function(data, status) {
                console.log("post kill chat", data, status)
        })
    })
    addBreakLine()
}
doType["wolf-chat-info"] = function(d) {
    addChatInfo(chatId, d.from + " ： " + d.msg)
    if (chatBtn)
        chatBtn.text("聊天")
}

doType["witch-button"] = function(d) {
    medicine = poison = null
    if (d.canMedicine) {
        addMessage(d.beKilled + "被杀了")
        medicine = addButton("medicine", "救TA", "btn-success")
        medicine.click(function() {
            $.post("/api/send_message", {type:"choose-witch",action:"medicine"},
                function(data, status) {
                    console.log("post choose medicine", data, status)
                    if (d.canPoison) { poison.remove() }
                    if (d.canMedicine) { medicine.remove() }
                    pass.remove()
            })
        })
    }

    if (d.canPoison) {
        chooseName = addChoose("choose-poison", "你还有一瓶毒药", d.players)
        poison = addButton("poison", "毒TA", "btn-warning")
        poison.click(function() {
            sel = $("input:radio[name=" + chooseName + "]:checked").val()
            if (sel == null) { return }

            $.post("/api/send_message", {type:"choose-witch", action:"poison",
                name: sel}, function(data, status) {
                    console.log("post choose poison", data, status)
                    if (d.canPoison) { poison.remove() }
                    if (d.canMedicine) { medicine.remove() }
                    pass.remove()
            })
        })
    }

    pass = addButton("pass", "不使用药物", "btn-default")
    pass.click(function() {
        $.post("/api/send_message", {type:"choose-witch", action:"pass"},
            function(data, status) {
                console.log("post choose pass", data, status)
                if (d.canPoison) { poison.remove() }
                if (d.canMedicine) { medicine.remove() }
                pass.remove()
        })
    })
    addBreakLine()
}

doType["choose-hunter"] = function(d) {
    chooseName = addChoose("choose-hunter", "你可以带走一个人", d.players)
    hunter = addButton("hunter", "开枪", "btn-warning")
    hunter.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type:"choose-hunter", action:"hunter",
            name: sel}, function(data, status) {
                console.log("post choose hunter", data, status)
                hunter.remove()
                pass.remove()
        })
    })
    pass = addButton("pass", "不开枪", "btn-default")
    pass.click(function() {
        $.post("/api/send_message", {type:"choose-hunter", action:"pass"},
            function(data, status) {
                console.log("post choose pass", data, status)
                pass.remove()
                hunter.remove()
        })
    })
    addBreakLine()
}

doType["hunter-info"] = function(d) {
    addMessage(d.from + "开枪，带走了" + d.to); addBreakLine()
}

doType["vote-result"] = function(d) {
    var voters = {}
    info = ""

    for (var key in d.ballot) {
        if (!voters[d.ballot[key]])
            voters[d.ballot[key]] = []
        voters[d.ballot[key]].push(key)
    }
    for (var opt in voters) {
        if (opt != ABSTAIN)
            info += voters[opt].join("， ") + " 投给 " + opt + "<br>"
    }
    if (voters[ABSTAIN])
        info += voters[ABSTAIN].join("， ") + " 弃权<br>"

    if (d.tie)
        info += " 平票，重投"
    else
        info += d.select + " " + d.msg
    addMessage(info)
    addBreakLine()
}

// 猎人消息
doType["hunter-enable"] = function(d) {
    addMessage("你是猎人，今晚你死了，你可以开枪"); addBreakLine()
}

// 是否参加警长竞选
doType["elect-button"] = function(d) {
    up = addButton("up", "竞选警长", "btn-warning")
    down = addButton("down", "不竞选", "btn-default")
    up.click(function() {
        $.post("/api/send_message", {type: "choose-elect", action: "up"},
            function(data, status) {
                console.log("post up elect", data, status)
                up.remove()
                down.remove()
        })
    })
    down.click(function() {
        $.post("/api/send_message", {type: "choose-elect",action: "down"},
            function(data, status) {
                console.log("post down water", data, status)
                up.remove()
                down.remove()
        })
    })
    addBreakLine()
}

doType["elect-info"] = function(d) {
    if (d.players.length == 0) {
        html = "没有人"
    } else {
        html = d.players[0]
        for (i = 1; i < d.players.length; i++)
            html += ", " + d.players[i]
    }
 
    addMessage(html + " 参加警长竞选，请依次发言"); addBreakLine()
    downwater = null
}

doType["elect-table"] = function(d) {
    html = "<table id=\"elect-table\" class=\"table\"><thead> <tr> <th width=\"50\">编号</th> <th width=\"150\">昵称</th> <th>状态</th> </tr> </thead> <tbody>"
    for (i = 0; i < d.number.length; i++) {
        row = "<tr id=\"elect-" + d.name[i] + "\" class=\"" + d.color[i] + "\">"
        row += "<td>" + d.number[i] + "</td>"
        row += "<td>" + d.name[i] + "</td>"
        row += "<td>" + d.status[i] + "</td>"
        row += "</tr>"
        html += row
    }
    html += "</tbody> </table>"
    $("#message").append(html)
    addMessage("请按顺序发言")
    addBreakLine()
}
doType["down-water-info"] = function(d) {
    $("#elect-table #elect-" + d.name).removeClass("active").addClass("warning")
    $("#elect-table #elect-" + d.name + " td:last").html("退水")
}

// 退水
doType["down-water-button"] = function(d) {
    downwater = addButton("down-water", "退水", "btn-warning")
    downwater.click(function() {
        $.post("/api/send_message", {"type": "down-water"},
            function(data, status) {
                console.log("post down-water", data, status)
                downwater.remove()
        })
    })
    addBreakLine()
}

// 开始竞选按钮
doType["start-elect-button"] = function(d) {
    var btn = addButton("start-elect", "竞选发言结束，开始警长投票", "btn-warning")
    btn.click(function() {
        $.post("/api/send_message", {type:"start-elect"}, function(data,status){
            console.log("post start elect")
            btn.remove()
        })
    })
    addBreakLine()
}

doType["no-police-info"] = function(d) {
    addMessage("没有人竞选警长"); addBreakLine()
}
doType["one-police-info"] = function(d) {
    addMessage("只有一个人竞选，警徽交给 " + d.name); addBreakLine()
}

doType["elect-vote"] = function(d) {
    if (downwater) downwater.remove()
    chooseName = addChoose("elect-vote", "警长投票", d.players)
    btn = addButton("elect-vote", "选TA", "btn-warning")
    pass = addButton("pass", "弃权", "btn-default")
    btn.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type: "elect-vote", name: sel},
            function(data, status) {
                console.log("post elect vote", data, status)
                btn.remove(); pass.remove()
        })
    })
    pass.click(function() {
        $.post("/api/send_message", {type: "elect-vote", name: ABSTAIN},
            function(data, status) {
                console.log("post elect pass", data, status)
                btn.remove(); pass.remove()
        })
    })

    addBreakLine()
}

doType["day-info"] = function(d) {
     addMessage("=============== 天亮了，第" + d.day + "天 ===============")
     addBreakLine()
}
doType["death-info"] = function(d) {
    if (d.death.length == 0)
        addMessage("昨天晚上是平安夜")
    else if (d.death.length == 1)
        addMessage("昨天晚上， " + d.death[0] + " 死了")
    else if (d.death.length == 2)
        addMessage("昨天晚上双死， " + d.death[0] +" 和 "+ d.death[1] + " 死了")
    addBreakLine()
}

doType["handover-button"] = function(d) {
    chooseName = addChoose("choose-handover", "把警徽移交给", d.players)
    handover = addButton("handover", "给TA", "btn-warning")
    handover.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type:"choose-handover", action: "handover",
                name: sel}, function(data, status) {
                console.log("post choose handover", data, status)
                handover.remove()
                tear.remove()
        })
    })

    tear = addButton("tear", "撕警徽", "btn-default")
    tear.click(function() {
        $.post("/api/send_message", {type: "choose-handover", action: "tear"},
            function(data, status) {
                console.log("post choose tear", data, status)
                handover.remove()
                tear.remove()
        })
    })
    addBreakLine()
}

doType["handover-info"] = function(d) {
    if (d.tear)
        addMessage("警徽被 " + d.name + " 撕毁了")
    else
        addMessage("警徽从 " + d.from + " 移交到了 " + d.to)
    addBreakLine()
}

doType["status-table"] = function(d) {
    addTable("status", ["编号", "昵称", "状态"], [50, 150],
            [d.number, d.name, d.status], d.color, "请按顺序发言")
    addBreakLine()
    boom = exile = null
}

doType["boom-button"] = function(d) {
    boom = addButton("boom", "自爆", "btn-warning")
    boom.click(function() {
        $.post("/api/send_message", {type: "choose-boom"},
            function(data, status) {
                console.log("post boom", data, status)
                boom.remove()
        })
    })
}

doType["boom-info"] = function(d) {
    if (exile) exile.remove()
    addMessage(d.name + " 自爆了"); addBreakLine();
}

doType["start-exile-button"] = function(d) {
    exile = addButton("start-exile", "发言结束，开始投票", "btn-warning")
    exile.click(function() {
        $.post("/api/send_message", {type:"start-exile"}, function(data,status){
            console.log("post start exile", data, status)
            exile.remove()
        })
    })
    addBreakLine()
}

doType["exile-vote"] = function(d) {
    if (boom) boom.remove()
    chooseName = addChoose("exile-vote", "选择你要投票出局的人", d.players)
    btn = addButton("exile-vote", "投TA", "btn-warning")
    pass = addButton("pass", "弃权", "btn-default")
    btn.click(function() {
        sel = $("input:radio[name=" + chooseName + "]:checked").val()
        if (sel == null) { return }

        $.post("/api/send_message", {type: "exile-vote", name: sel},
            function(data, status) {
               console.log("post exile vote", data, status)
               btn.remove(); pass.remove()
        })
    })
    pass.click(function() {
        $.post("/api/send_message", {type:"exile-vote", name: ABSTAIN},
            function(data, status) {
               console.log("post exile pass", data, status)
               btn.remove(); pass.remove()
        })
    })
    addBreakLine()
}

doType["game-over"] = function(d) {
    addMessage(d.winner + "阵营胜利")
}

doType["game-statistic"] = function(d) {
    addTable("statistic", ["编号", "昵称", "角色", "最后状态"], [50, 100, 80],
            [d.number, d.name, d.role, d.status], d.color)
    addBreakLine()
}

doType["wait-handover-info"] = function(d) {
    addMessage("等待" + d.name + "移交警徽")
}

/* UTILITY */
counter = 0
function addChoose(name, text, options) {
    name = name + counter
    counter += 1
    html = "<div> <p>" + text + "</p>"
    for (i = 0; i < options.length; i++)
        html += "<label class=\"radio-inline\">"
                + "<input type=\"radio\" name=\"" + name + "\" value=\""
                + options[i] + "\">" + options[i]
                + "</label>" + "\n"
    html += "</div> <p></p>"
    $("#message").append(html)
    return name
}

function addButton(id, text, cssCla) {
    if (clearButton) {
        clearButton = false
        $("#message button").remove()
    }
    id = id + counter; counter += 1
    $("#message").append("<button id=\"" + id + "\" class=\"btn " +
            cssCla + "\">" + text + "</button>\n")
    return $("#" + id)
}

// !! there is also a special table in elect for down water
function addTable(id, head, width, data, color, msg) {
    id = id + counter; counter += 1
    var i, j
    html = "<table id=\"" + id + "\" class=\"table\"><thead><tr>"
    for (i = 0; i < head.length; i++) {
        if (i < width.length)
            html += "<th width=\"" + width[i] + "\">"+ head[i] + "</th>"
        else
            html += "<th>"+ head[i] + "</th>"
    }
    html += "</tr> </thead> <tbody>"
    for (i = 0; i < data[0].length; i++) {
        row = "<tr class=\"" + color[i] + "\">"
        for (j = 0; j < head.length; j++)
            row += "<td>" + data[j][i] + "</td>"
        row += "</tr>"
        html += row
    }
    html += "</tbody> </table>"
    $("#message").append(html)
    if (msg)
        $("#message").append("<p>" + msg + "</p>")
    return id
}

function addChatBoard(id) {
    id = id + counter; counter += 1
    $("#message").append( "<div class=\"form-group\"> <label>战术聊天</label> <input id=\"" + id + "\" type=\"text\" class=\"form-control\"> </div>")
    return id
}
function addChatInfo(id, msg) {
    $("#" + id).before("<p>" + msg + "</p>")
}

function addMessage(text) {
    $("#message").append("<p>" + text + "</p>")
}

function addBreakLine() { $("#message").append("<hr>") }

function removeDoubleLine() {
    hrs = $("hr")
    for (j = 0; j < hrs.length; j++) {
        if (hrs[j].nextElementSibling && hrs[j].nextElementSibling.tagName
                                                                 == "HR")
            hrs[j].remove()
    }
}


</script>

{% endblock %}

